@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: local('Average'), local('Average-Regular'), url(http://fonts.gstatic.com/s/average/v4/IA8jQA5GFnMtnG2oawAIjw.ttf) format('truetype');
}

@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  src: local('Nixie One'), local('NixieOne-Regular'), url(http://fonts.gstatic.com/s/nixieone/v7/gQ0PT3rPU_Et2ExNz-ahmqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@charset "UTF-8";

ul[rn-carousel] {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

ul[rn-carousel]>li {
  color: #000;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: visible;
  vertical-align: top;
  position: absolute;
  left: 0;
  right: 0;
  white-space: normal;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: inline-block;
}

ul[rn-carousel-buffered]>li {
  display: none;
}

a,
body,
div,
form,
h1,
h3,
h4,
html,
i,
img,
label,
li,
nav,
p,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

nav {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: .67em 0;
}

img {
  border: 0;
}

button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,
  :after,
  :before {
    background: transparent!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot);
  src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"),url(../fonts/bootstrap/glyphicons-halflings-regular.woff) format("woff"),url(../fonts/bootstrap/glyphicons-halflings-regular.ttf) format("truetype"),url(../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Average,Georgia,"Times New Roman",Times,serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #DD4814;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #97310e;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

h1,
h3,
h4 {
  font-family: "Nixie One","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height: 1.1;
  color: inherit;
}

h1,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-md-1,
.col-md-12,
.col-md-4,
.col-md-6,
.col-sm-1,
.col-sm-12,
.col-sm-4,
.col-sm-6,
.col-xs-12,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12,
.col-xs-6 {
  float: left;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width:768px) {
  .col-sm-1,
  .col-sm-12,
  .col-sm-4,
  .col-sm-6 {
    float: left;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width:992px) {
  .col-md-1,
  .col-md-12,
  .col-md-4,
  .col-md-6 {
    float: left;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-control::-moz-placeholder {
  color: #AEA79F;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #AEA79F;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:focus,
.btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn:active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-primary {
  color: #fff;
  background-color: #DD4814;
  border-color: #DD4814;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #ae3910;
  border-color: #a5360f;
}

.btn-primary:active {
  background-image: none;
}

.btn-lg {
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.collapse {
  display: none;
  visibility: hidden;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:after,
.nav:before {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar:after,
.navbar:before {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

@media (min-width:768px) {
  .navbar {
    border-radius: 0;
  }
}

.navbar-header:after,
.navbar-header:before {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

@media (min-width:768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:after,
.navbar-collapse:before {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

@media (min-width:768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block!important;
    visibility: visible!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

  .navbar-fixed-top .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width:480px) and (orientation:landscape) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}

.container>.navbar-collapse,
.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width:768px) {
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width:768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-brand {
  float: left;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}

@media (min-width:768px) {
  .navbar>.container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width:768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width:768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-default {
  background-color: #DD4814;
  border-color: #bf3e11;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #97310e;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #ae3910;
}

.navbar-default .navbar-toggle {
  border-color: #97310e;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #97310e;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-collapse {
  border-color: #bf3e11;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #DD4814;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  transition: width .6s ease;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg,rgba(255,255,255,.15)25%,transparent 25%,transparent 50%,rgba(255,255,255,.15)50%,rgba(255,255,255,.15)75%,transparent 75%,transparent);
  background-size: 40px 40px;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0,-25%);
  transform: translate(0,-25%);
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.43px;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:after,
.modal-footer:before {
  content: " ";
  display: table;
}

.modal-footer:after {
  clear: both;
}

@media (min-width:768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}

@-ms-viewport {
  width: device-width;
}

@media (max-width:767px) {
  .hidden-xs {
    display: none!important;
  }
}

@font-face {
  font-family: fontello;
  src: url(../fonts/fontello/fontello.eot?1521387);
  src: url(../fonts/fontello/fontello.eot?1521387#iefix) format("embedded-opentype"),url(../fonts/fontello/fontello.woff?1521387) format("woff"),url(../fonts/fontello/fontello.ttf?1521387) format("truetype"),url(../fonts/fontello/fontello.svg?1521387#fontello) format("svg");
  font-weight: 400;
  font-style: normal;
}

[class^=icon-]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.icon-facebook:before {
  content: '\e800';
}

.icon-twitter:before {
  content: '\e801';
}

.icon-github:before {
  content: '\e802';
}

.icon-linkedin:before {
  content: '\e804';
}

.icon-google:before {
  content: '\e805';
}

.icon-instagram:before {
  content: '\e806';
}

body {
  padding-top: 50px;
}

.img-responsive {
  width: 100%;
}

.work {
  margin-bottom: 3rem;
}

#contact,
#profile,
#resume,
#skills,
#work {
  margin-bottom: 70px;
}

#footer {
  background-color: #DD4814;
  color: #fff;
  font-weight: 700;
}

#contact {
  margin-bottom: 210px;
}

#message {
  height: 19.5rem;
  resize: vertical;
}

.social-first {
  padding-right: 4px;
}

.social-first ul {
  text-align: right;
}

.social-second {
  padding-left: 4px;
}

.social-second ul {
  text-align: left;
}

#footer,
#profile {
  margin-top: 70px;
}

ul[rn-carousel] {
  height: 435px;
}

@media (max-width:480px) {
  .social-first,
  .social-second,
  .work {
    width: 100%;
  }

  .social-first,
  .social-second {
    padding-right: 15px;
    padding-left: 15px;
  }

  .social-first ul,
  .social-second ul {
    text-align: center;
  }

  .social-second {
    margin-bottom: 3rem;
  }

  #profile .col-xs-6,
  #skills .col-xs-6 {
    width: 100%;
  }

  .foto {
    max-width: 80%;
    margin: 1rem auto;
  }

  #profile {
    margin-top: 0;
  }

  ul[rn-carousel] {
    height: 260px;
  }
}

@media (min-width:768px) {
  ul[rn-carousel] {
    height: 400px;
  }
}
